@import url("https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left-o.css");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/arrow-right-o.css");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  flex-direction: column;
}

.image {
  height: 800px;
  width: 800px;
  border-radius: 10px;
}

.arrows {
  position: absolute;
  top: 50%;
  display: block;
}

.left-arrow {
  position: absolute;
  /* top: 50%; */
  left: 21%;
}

.right-arrow {
  position: absolute;
  /* top: 50%; */
  right: 21%;
}
